volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  backend:
    user: "www-data"
    image: bobah2060/kittygram_backend
    env_file: .env
    ports:
      - "8080:8000"
    volumes:
      - static:/backend_static
      - media:/backend_media
    init: true 
    depends_on:
      - db
  frontend:
    env_file: .env
    image: bobah2060/kittygram_frontend
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static:/frontend_static
  gateway:
    user: "nginx"
    image: bobah2060/kittygram_gateway
    env_file: .env
    ports:
      - 9000:80
    depends_on:
      - backend
    volumes:
      - static:/staticfiles
      - media:/mediafiles
